<html ng-app="app">
    <head>
        <title>Clase 1 - AngularJS</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <style>
            #container .panel{
                margin: 20px;
            }
        </style>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div ng-controller="MainController as main" id="container" class="container">
            
            <h1>{{main.mainTitle}}: Intro AngularJS</h1>
            
            
            <div ng-controller="ParentController as parent" class="panel panel-default">
            
                <div class="panel-heading">
                  {{parent.name}}
                </div>
                
                <div class="panel-body">
                    
                    <input ng-model="parent.title" type="text" class="form-control"/>
                    
                    <h1>{{parent.title}}</h1>
                    
                </div>
                
                
                <div ng-controller="ChildController as child" class="panel panel-default">
                    <div class="panel-heading">
                        {{child.name}}
                    </div>
                    <div class="panel-body">
                        <input ng-model="child.title" type="text" class="form-control"/>
                        <h1>{{child.title}}</h1>
                    </div>                 
                </div>
            </div>
            
        </div>
    </body>
</html>