<html ng-app="tienda">
    <head>
        <title>Tienda RPG</title>
        <script src="bower_components/angular/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <style>

            .form-inline{
                width: 100%;
            }
            
            .form-inline .form-group {
                width: 80%;
            }
            
            .form-inline .form-group .input-group{
                width: 100%;
            }
            
            .form-inline button {
                width: 18%;
            }
            
            .well .row{
                margin-bottom: 10px;
                margin-top: 2px;
            }
            
            .list-arrows{
                margin-top: 100px;
            }
        </style>
        
        <script src="app/tienda.js"></script>
        <script src="app/controllers.js"></script>
        <script src="app/directives.js"></script>
        <script src="app/filters.js"></script>
    </head>
    <body>
        <div ng-controller="MainController as main" class="container">
            <br />
            
            <div class="row">
                
                <!-- <BOX_TIENDA> -->
                <div class="dual-list list-left col-md-5">
		        <h2>Tienda</h2>
                <div class="well text-right">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                              <!-- <BOX_TIENDA_INPUT_BUSQUEDA> -->    
                              <div class="form-group">
                                <div class="input-group busqueda-group">
                                  <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                  </span>
                                  <input ng-model="main.tiendaFiltro.name"
                                         type="text" 
                                         class="form-control" 
                                         placeholder="Buscar">
                                </div>
                              </div>
                              <!-- </BOX_TIENDA_INPUT_BUSQUEDA> -->    
                              <!-- <BOX_TIENDA_SELECT_ALL> -->  
                              <button ng-click="main.toggleLista(main.listaTienda)" class="btn btn-default">
                                  &nbsp;
                                  <i ng-class="main.listaTienda.selected ? 'glyphicon-check' : 'glyphicon-unchecked'" 
                                     class="glyphicon"></i>
                                  &nbsp;
                              </button>
                              <!-- </BOX_TIENDA_SELECT_ALL> -->
                            </form>
                        </div>
                    </div>
                    <!-- <BOX_TIENDA_LISTADO> -->  
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group">
                                <li ng-click="main.toggleSelect(item)"
                                    ng-repeat="item in main.listaTienda | filter:main.tiendaFiltro"
                                    ng-class="{ 'active' : item.selected }"
                                    class="list-group-item">
                                  {{item.name | uppercase | cut:5:'......' }} 
                                  <span class="cost">{{ item.cost | dolar }}</span>
                                </li>                                                                                                    
                            </ul>
                        </div>   
                    </div>
                    <!-- </BOX_TIENDA_LISTADO> -->
                </div>
                </div>
                <!-- </BOX_TIENDA> -->
                
                <!-- <MOVE_BUTTONS> -->
                <div class="list-arrows col-md-1 text-center">
                    <button ng-click="main.move(main.listaEquipo, main.listaTienda)"
                            class="btn btn-default btn-sm move-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>

                    <button ng-click="main.move(main.listaTienda, main.listaEquipo)"
                            class="btn btn-default btn-sm move-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
                <!-- </MOVE_BUTTONS> -->
                
                <!-- <BOX_USUARIO> -->
                <div class="dual-list list-right col-md-5">
		        <h2>Equipo</h2>
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                              <!-- <BOX_USUARIO_SELECT_ALL> -->
                              <button ng-click="main.toggleLista(main.listaEquipo)" class="btn btn-default">
                                  &nbsp;
                                  <i ng-class="main.listaEquipo.selected ? 'glyphicon-check' : 'glyphicon-unchecked'" 
                                     class="glyphicon"></i>
                                  &nbsp;
                              </button>
                              <!-- </BOX_USUARIO_SELECT_ALL> -->
                              <!-- <BOX_USUARIO_INPUT_BUSQUEDA> -->    
                              <div class="form-group">
                                <div class="input-group busqueda-group">
                                  <input ng-model="main.filtroEquipo.name"
                                         type="text" 
                                         class="form-control" 
                                         placeholder="Buscar">
                                  <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                  </span>
                                </div>
                              </div>
                              <!-- </BOX_USUARIO_INPUT_BUSQUEDA> -->     
                            </form>
                        </div>
                    </div>
                    <!-- <BOX_USUARIO_LISTADO> -->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group">
                                <li ng-click="main.toggleSelect(item)"
                                    ng-repeat="item in main.listaEquipo | filter:main.filtroEquipo"
                                    ng-class="{ 'active' : item.selected }"
                                    class="list-group-item">
                                  {{item.name | uppercase}}
                                </li>      
                            </ul>
                        </div>   
                    </div>
                    <!-- </BOX_USUARIO_LISTADO> -->
                </div>
                </div>
                <!-- </BOX_USUARIO> -->
                
            </div>
        </div>
    </body>
</html>

