<html ng-app="tienda">
    <head>
        <title>Tienda RPG</title>
        <script src="bower_components/angular/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <style>

            .form-inline{
                width: 100%;
            }
            
            .form-inline .form-group {
                width: 80%;
            }
            
            .form-inline .form-group .input-group{
                width: 100%;
            }
            
            .form-inline button {
                width: 18%;
            }
            
            .well .row{
                margin-bottom: 10px;
                margin-top: 2px;
            }
            
            .list-arrows{
                margin-top: 100px;
            }
        </style>
        
        <script src="app/tienda.js"></script>
        <script src="app/controllers.js"></script>
        <script src="app/directives.js"></script>
        <script src="app/filters.js"></script>
    </head>
    <body>
        <container ng-controller="MainController as main">
            <br />
            
            <row>
                
                <!-- <BOX_TIENDA> -->
                <col md="5" class="dual-list list-left">
		        <h2>Tienda</h2>
                <div class="well text-right">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                              <!-- <BOX_TIENDA_INPUT_BUSQUEDA> -->    
                              <div class="form-group">
                                <div class="input-group busqueda-group">
                                  <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                  </span>
                                  <input ng-model="main.tiendaFiltro.name"
                                         type="text" 
                                         class="form-control" 
                                         placeholder="Buscar">
                                </div>
                              </div>
                              <!-- </BOX_TIENDA_INPUT_BUSQUEDA> -->    
                              <select-all-button lista="main.listaTienda" toggle="main.toggleLista(lista)"></select-all-button>  
                            </form>
                        </div>
                    </div>
                    <!-- <BOX_TIENDA_LISTADO> -->  
                    <div class="row">
                        <div class="col-md-12">
                           <box-list lista="main.listaTienda" 
                                     toggle="main.toggleSelect"
                                     filtro="main.tiendaFiltro">
                           </box-list>
                        </div>
                    </div>
                    <!-- </BOX_TIENDA_LISTADO> -->
                </div>
                </div>
                <!-- </BOX_TIENDA> -->
                
                <!-- <MOVE_BUTTONS> -->
                <div class="list-arrows col-md-1 text-center">
                    <button ng-click="main.move(main.listaEquipo, main.listaTienda)"
                            class="btn btn-default btn-sm move-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>

                    <button ng-click="main.move(main.listaTienda, main.listaEquipo)"
                            class="btn btn-default btn-sm move-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
                <!-- </MOVE_BUTTONS> -->
                
                <!-- <BOX_USUARIO> -->
                <div class="dual-list list-right col-md-5">
		        <h2>Equipo</h2>
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                              <select-all-button lista="main.listaEquipo" toggle="main.toggleLista(lista)"></select-all-button>  

                              <!-- <BOX_USUARIO_INPUT_BUSQUEDA> -->    
                              <div class="form-group">
                                <div class="input-group busqueda-group">
                                  <input ng-model="main.filtroEquipo.name"
                                         type="text" 
                                         class="form-control" 
                                         placeholder="Buscar">
                                  <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                  </span>
                                </div>
                              </div>
                              <!-- </BOX_USUARIO_INPUT_BUSQUEDA> -->     
                            </form>
                        </div>
                    </div>
                    <!-- <BOX_USUARIO_LISTADO> -->
                    <div class="row">
                        <div class="col-md-12">
                           <box-list lista="main.listaEquipo" 
                                     toggle="main.toggleSelect"
                                     filtro="main.filtroEquipo">
                           </box-list>
                        </div>   
                    </div>
                    <!-- </BOX_USUARIO_LISTADO> -->
                </div>
                </div>
                <!-- </BOX_USUARIO> -->
                
            </row>
        </container>
    </body>
</html>

